.ex {
    position: absolute;
    right: 50px;
    top: 0;
}

.experiencesObj {
    margin: 15px 0;
}

.detail {
    position: relative;
}

.btn {
    padding: 20px 78px;
    background: red;
    margin: 45px 0 0 0;
    outline: none;
    border: none;
    border-radius: 32px;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.btn:hover {
    background: black;
    color: red;
    cursor: pointer;
}

.experiences h2 {
    margin-left: 9px;
}

.bg {
    position: relative;
    width: 550px;
    height: 8px;
    border-radius: 2vw;
    margin: 10px 0 0 0;
    background-color: white;
}

.fg {
    position: absolute;
    background-color: red;
    height: 100%;
    border-radius: 2vw;
}
@media screen and (max-width:1440px) {
    .ex{
        position: static;
        width: 40%;
    }
    .bg{
        width: 100%;
    }
    .detail{
        display: flex;
    }
}
@media screen and (max-width: 768px) {
    .ex {
        position: static;
    }
    .detail{
        flex-direction: column;
    }
    .detailDiv,.ex{
        width: 100%;
    }
    .btn {
        margin: 5% 0;
        padding: 12px 30px;
        font-size: var(--font-size);
    }
}