.aboutHeading{
    position: relative;
    /* height: 65px; */
}
.aboutHeading h1{
    font-size: 2.3em;
}
.aboutHeading::before{
    content: '';
    position: absolute;
    background-color: var(--red-color);
    width: 55px;
    top: 48px;
    height: 3px;
}
.aboutHeading::after{
    content: '';
    position: absolute;
    background-color: var(--red-color);
    width: 30px;
    height: 3px;
    top: 55px;
}
.aboutContent{
    padding: 2vh 0 0 0;
    height: 80%;
    width: 100%;
}
.aboutMe{
    margin: 55px 0;
}
.aboutMe h2{
    font-size: 35px;
    margin-bottom: 15px;
}
.aboutMe span{
    margin-right: 9px;
}
.aboutMe .red{
    color: var(--red-color);
}
.aboutMe p{
    font-size: 18px;
    text-align: justify;
}
.detailDiv{
    display: flex;
    margin-right: 20px;
    flex-wrap: wrap;
    width: 57%;
}

@media screen and (max-width: 786px) {
    .projectCon .bodyComponent,
    .bodyAbout .bodyComponent {
        padding: 0 2vh;
    }
    .aboutMe span{
        font-size: var(--about-font);
    }
}