.bodyCon .comming {
    padding: 10vh 0;
    color: var(--red-color);
    animation: comming 2s ;
    font-size: 5vw;
}
.comming h2{
    display: flex;
}
@keyframes comming {
    0% {
        display: none;
        width: 0;
        height: 0;
        font-size: 0;
    }
    100%{
        display: flex;
        width: 90%;
        height: 90%;
        font-size: 15vw;
    }
}