*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
a{
    color: white;
    display: flex;
}
.phnLogo{
    display: none;
}
.navbarContainer{
    display: flex;
    height: 100vh;
    position: fixed;
    box-shadow: 0 0 15px black;
    width: 16vw;
    justify-content: center;
    background: #3e3a3a;
    color: white;
    align-items: center;
    z-index: 1;
    align-content: center;
}
.navbarComponent{
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.logo{
    width: 70%;
    position: absolute;
    top: 7vh;
    height: 11vh;
}
.logoContainer{
    display: flex;
    height: 87%;
    background: transparent;
    position: relative;
    width: 100%;
    justify-content: center;
    align-content: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
}
.logoContainer::before {
    content: '';
    width: 40px;
    height: 40px;
    background: var(--red-color);
    position: absolute;
    left: 0;
    bottom: 0;
}
.logoContainer::after{
    content: '';
    width: 40px;
    height: 40px;
    background: var(--red-color);
    position: absolute;
    right: 0;
    top: 0;
}
.logoDiv{
    width: 94%;
    position: absolute;
    min-height: 87%;
    max-height: 87%;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    font-family: 'Caveat', cursive;
    font-size: 2vw;
    background: #3e3a3a;    
    z-index: 1;
}
.list{
    display: flex;
    height: 70%;
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: relative;
}
.list ul{
    position: absolute;
    /* height: 52%; */
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}
.list li{
    padding: 25px 0;
    font-weight: 700;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 20px;
    width: 70%;
}
.list li::after{
    content: '';
    width: 75%;
    height: 1.5px;
    background: #626161;;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.listObj{
    display: flex;
    justify-content: space-between;
    width: 55%;
}
.list i, p{
    margin: 0px 8px 0 0;
    font-size: var(--nav)
}
.list a:hover{
    color: var(--red-color);
    cursor: pointer;
}
.list a:active{
    color: var(--red-color);
}
.list a:focus{
    color: var(--red-color);
}
.Z{
    display: none;
}
@media screen and (max-width: 1440px){
    .list i{
        font-size: 1.3rem;
        margin: 0;
    }
    .Z{
        text-align: center;
        display: flex;
        zoom: 40%;      
        position: fixed;
        top: 5%;
    }
    .list p,.logo , .list li::after{
        display: none;
    }
    .navbarContainer{
        width: 6vw;
    }
    .listObj{
        justify-content: center;
    }

    .list li{
        padding: 20px 0;
    }

}
@media screen and (max-width: 425px) {
    .list i{
        font-size: 1rem;
    }

}
@media screen and (max-width: 768px) {
    .logo{
        display: none;
    }
    .Z{
        display: none;
    }
    .list li{
        padding: 0;
    }
    .listObj{width: auto;}
    .navbarContainer{
        bottom: 0;
        height: 45px;
        width: 100vw;
        flex-direction: row;
    }
    .list ul{
        flex-direction: row;
        width: 85%;
    }
    .listObj p{
        display: none;
    }
    .list i{
        font-size: 1rem;
        margin: 0;
    }
    .list li::after ,.list li::before{
        display: none;
    }
    .phnLogo{
        z-index: 2;
        width: 100%;
        display: flex;
        position: fixed;
        top: 0;
        justify-content: center;
        background: rgba(0, 0, 0,0.1);
        color: var(--red-color);
        font-weight: 900;
        height: 5vh;
        box-shadow: 0 0 15px black;
        align-items: center;
    }
}